.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 7px 6px -6px #999;
  /* height: 6vh; */
}

.navbrand {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo {
  height: 3.5rem;
  width: 4rem;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
